* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.calculator {
  background-color: black;
  width: 400px;

}

.calculator-screen {
  color: white;
  text-align: right;
  font-size: 40px;
  font-family: monospace;
  padding: 20px 5px;
}

.calculator-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: .5%;
}

.button {
  width: 24.5%;
  height: 100px;
  font-size: 40px;
  font-family: monospace;
  background-color: #d8d9db;
  /* change <button> default setting, if removed, please also remove margin-bottom: .5% from .calculator-row */
  border: none;
  border-radius: 0;
  /*************************************/
}

.button:hover {
  background-color: #ebebeb;
}

.button:active {
  background-color: #bbbcbe;;
}

/* these are the "operational buttons" (+, -, /, *, =) */
.button:last-child {
  background-color: #df974c;
  color: white;
}

.button:last-child:hover {
  background-color: #dfb07e;
}

.button:last-child:active {
  background-color: #dd8d37
}

/***************************/

.button-double {
  width: 49.7%;
}

.button-triple {
  width: 74.8%;
}